<table class='tablesorter' cellspacing='0'>
    <thead>
        <tr>
            {{#labels}}
            <th {{#class}}class='{{.}}'{{/class}}>{{{../template .}}}</th>
            {{/labels}}
        </tr>
    </thead>
    {{#rows}}
    {{^type}}<thead>{{/type}}
    <tr class='{{type}}{{^type}}abstract{{/type}}'>
        {{#fields}}
        <td {{#class}}class='{{.}}'{{/class}}>{{{../../template .}}}</td>
        {{/fields}}
    </tr>
    {{^type}}</thead>{{/type}}
    {{/rows}}
</table>
