<table class='tablesorter' cellspacing='0'>
    <thead>
        <tr>
            {{#labels}}
            <th {{#class}}class='{{.}}'{{/class}}>{{{../template .}}}</th>
            {{/labels}}
        </tr>
    </thead>
    <tbody>
        {{#rows}}
        <tr class='{{type}}{{^type}}abstract{{/type}}'>
            {{#fields}}
            <td {{#class}}class='{{.}}'{{/class}}>{{{../../template .}}}</td>
            {{/fields}}
        </tr>
        {{/rows}}
    </tbody>
</table>
